  <!-- Header Section Start -->
  <div class="header-section section">
  
      <!-- Header Top Start -->
      <div class="header-top header-top-one header-top-border pt-10 pb-10">
          <div class="container">
              <div class="row align-items-center justify-content-between">
  
                  <div class="col mt-10 mb-10">
                      <!-- Header Links Start -->
                      <div class="header-links">
                          <a href="track-order.html"><img src="assets/images/icons/car.png" alt="Car Icon"> <span>Track your order</span></a>
                          <a href="store.html"><img src="assets/images/icons/marker.png" alt="Car Icon"> <span>Locate Store</span></a>
                      </div><!-- Header Links End -->
                  </div>
  
                  <div class="col order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                      <!-- Header Advance Search Start -->
                      <div class="header-advance-search">
                          
                          <form action="#">
                              <div class="input"><input type="text" placeholder="Search your product"></div>
                              <div class="select">
                                  <select class="nice-select">
                                      <option>All Categories</option>
                                      <option>Mobile</option>
                                      <option>Computer</option>
                                      <option>Laptop</option>
                                      <option>Camera</option>
                                  </select>
                              </div>
                              <div class="submit"><button><i class="icofont icofont-search-alt-1"></i></button></div>
                          </form>
                          
                      </div><!-- Header Advance Search End -->
                  </div>
  
                  <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10">
                      <!-- Header Account Links Start -->
                      <div class="header-account-links">
                          <a href="register.html"><i class="icofont icofont-user-alt-7"></i> <span>my account</span></a>
                          <a href="login.html"><i class="icofont icofont-login d-none"></i> <span>Login</span></a>
                      </div><!-- Header Account Links End -->
                  </div>
  
              </div>
          </div>
      </div><!-- Header Top End -->
  
      <!-- Header Bottom Start -->
      <div class="header-bottom header-bottom-one header-sticky">
          <div class="container">
              <div class="row align-items-center justify-content-between">
  
                  <div class="col mt-15 mb-15">
                      <!-- Logo Start -->
                      <div class="header-logo">
                          <a href="index.html">
                              <img src="assets/images/logo.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template">
                              <img class="theme-dark" src="assets/images/logo-light.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template">
                          </a>
                      </div><!-- Logo End -->
                  </div>
  
                  <div class="col order-12 order-lg-2 order-xl-2 d-none d-lg-block">
                      <!-- Main Menu Start -->
                      <div class="main-menu">
                          <nav>
                              <ul>
                                  <li class="menu-item-has-children"><a href="index.html">HOME</a>
                                      <ul class="mega-menu two-column">
                                          <li><a href="#" class="d-none">Home Light</a>
                                              <ul>
                                                  <li><a href="index.html">Home One Light</a></li>
                                                  <li><a href="index-2.html">Home Two Light</a></li>
                                                  <li><a href="index-3.html">Home Three Light</a></li>
                                                  <li><a href="index-4.html">Home Four Light</a></li>
                                                  <li><a href="index-5.html">Home Five Light</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="#" class="d-none">Home Dark</a>
                                              <ul>
                                                  <li><a href="index.html">Home One Dark</a></li>
                                                  <li><a href="index-2.html">Home Two Dark</a></li>
                                                  <li><a href="index-3.html">Home Three Dark</a></li>
                                                  <li><a href="index-4.html">Home Four Dark</a></li>
                                                  <li><a href="index-5.html">Home Five Dark</a></li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="shop-grid.html">Shop</a>
                                      <ul class="sub-menu">
                                          <li class="menu-item-has-children"><a href="shop-grid.html">shop grid</a>
                                              <ul class="sub-menu">
                                                  <li><a href="shop-grid.html">shop grid</a></li>
                                                  <li><a href="shop-grid-left-sidebar.html">shop grid Left Sidebar</a></li>
                                                  <li><a href="shop-grid-right-sidebar.html">shop grid Right Sidebar</a></li>
                                                  <li><a href="shop-grid-extended.html">shop grid Extended</a></li>
                                              </ul>
                                          </li>
                                          <li class="menu-item-has-children"><a href="shop-list.html">shop List</a>
                                              <ul class="sub-menu">
                                                  <li><a href="shop-list.html">shop List</a></li>
                                                  <li><a href="shop-list-left-sidebar.html">shop List Left Sidebar</a></li>
                                                  <li><a href="shop-list-right-sidebar.html">shop List Right Sidebar</a></li>
                                              </ul>
                                          </li>
                                          <li class="menu-item-has-children"><a href="category-1.html">shop Category</a>
                                              <ul class="sub-menu">
                                                  <li><a href="category-1.html">Shop Category 1</a></li>
                                                  <li><a href="category-2.html">Shop Category 2</a></li>
                                                  <li><a href="category-3.html">Shop Category 3</a></li>
                                              </ul>
                                          </li>
                                          <li class="menu-item-has-children"><a href="single-product.html">Single Product</a>
                                              <ul class="sub-menu">
                                                  <li><a href="single-product.html">Single Product 1</a></li>
                                                  <li><a href="single-product-2.html">Single Product 2</a></li>
                                                  <li><a href="single-product-3.html">Single Product 3</a></li>
                                                  <li><a href="single-product-4.html">Single Product 4</a></li>
                                                  <li><a href="single-product-5.html">Single Product 5</a></li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="active menu-item-has-children"><a href="#">PAGES</a>
                                      <ul class="mega-menu three-column">
                                          <li><a href="#">Column One</a>
                                              <ul>
                                                  <li><a href="about-us.html">About us</a></li>
                                                  <li><a href="banner.html">Banner</a></li>
                                                  <li><a href="best-deals.html">Best Deals</a></li>
                                                  <li><a href="buttons.html">Buttons</a></li>
                                                  <li><a href="cart.html">Cart</a></li>
                                                  <li><a href="checkout.html">Checkout</a></li>
                                                  <li><a href="clients.html">Clients</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Column Two</a>
                                              <ul>
                                                  <li><a href="compare.html">Compare</a></li>
                                                  <li><a href="faq.html">Faq</a></li>
                                                  <li><a href="feature.html">Feature</a></li>
                                                  <li><a href="login.html">Login</a></li>
                                                  <li><a href="register.html">Register</a></li>
                                                  <li><a href="store.html">Store</a></li>
                                                  <li><a href="tabs.html">Tabs</a></li>
                                              </ul>
                                          </li>
                                          <li><a href="#">Column Three</a>
                                              <ul>
                                                  <li><a href="team.html">Team</a></li>
                                                  <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                                  <li><a href="testimonial.html">Testimonial</a></li>
                                                  <li class="active"><a href="track-order.html">Track Order</a></li>
                                                  <li><a href="typography.html">Typography</a></li>
                                                  <li><a href="wishlist.html">Wishlist</a></li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="blog-3-column.html">BLOG</a>
                                      <ul class="sub-menu">
                                          <li><a href="blog-1-column-left-sidebar.html">Blog 1 Column Left Sidebar</a></li>
                                          <li><a href="blog-1-column-right-sidebar.html">Blog 1 Column Right Sidebar</a></li>
                                          <li><a href="blog-2-column-left-sidebar.html">Blog 2 Column Left Sidebar</a></li>
                                          <li><a href="blog-2-column-right-sidebar.html">Blog 2 Column Right Sidebar</a></li>
                                          <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                                          <li><a href="single-blog-left-sidebar.html">Single Blog Left Sidebar</a></li>
                                          <li><a href="single-blog-right-sidebar.html">Single Blog Right Sidebar</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="contact.html">CONTACT</a></li>
                              </ul>
                          </nav>
                      </div><!-- Main Menu End -->
                  </div>
  
                  <div class="col order-2 order-lg-12 order-xl-12">
                      <!-- Header Shop Links Start -->
                      <div class="header-shop-links">
                          
                          <!-- Compare -->
                          <a href="compare.html" class="header-compare"><i class="ti-control-shuffle"></i></a>
                          <!-- Wishlist -->
                          <a href="wishlist.html" class="header-wishlist"><i class="ti-heart"></i> <span class="number">3</span></a>
                          <!-- Cart -->
                          <a href="cart.html" class="header-cart"><i class="ti-shopping-cart"></i> <span class="number">3</span></a>
                          
                      </div><!-- Header Shop Links End -->
                  </div>
                  
                  <!-- Mobile Menu -->
                  <div class="mobile-menu order-12 d-block d-lg-none col"></div>
  
              </div>
          </div>
      </div><!-- Header Bottom End -->
  
  </div><!-- Header Section End -->
  
  <!-- Mini Cart Wrap Start -->                      
  <div class="mini-cart-wrap">
  
      <!-- Mini Cart Top -->
      <div class="mini-cart-top">    
      
          <button class="close-cart">Close Cart<i class="icofont icofont-close"></i></button>
          
      </div>
  
      <!-- Mini Cart Products -->
      <ul class="mini-cart-products">
          <li>
              <a class="image"><img src="assets/images/product/product-1.png" alt="Product"></a>
              <div class="content">
                  <a href="single-product.html" class="title">Waxon Note Book Pro 5</a>
                  <span class="price">Price: $295</span>
                  <span class="qty">Qty: 02</span>
              </div>
              <button class="remove"><i class="fa fa-trash-o"></i></button>
          </li>
          <li>
              <a class="image"><img src="assets/images/product/product-2.png" alt="Product"></a>
              <div class="content">
                  <a href="single-product.html" class="title">Aquet Drone D 420</a>
                  <span class="price">Price: $275</span>
                  <span class="qty">Qty: 01</span>
              </div>
              <button class="remove"><i class="fa fa-trash-o"></i></button>
          </li>
          <li>
              <a class="image"><img src="assets/images/product/product-3.png" alt="Product"></a>
              <div class="content">
                  <a href="single-product.html" class="title">Game Station X 22</a>
                  <span class="price">Price: $295</span>
                  <span class="qty">Qty: 01</span>
              </div>
              <button class="remove"><i class="fa fa-trash-o"></i></button>
          </li>
      </ul>
  
      <!-- Mini Cart Bottom -->
      <div class="mini-cart-bottom">    
      
          <h4 class="sub-total">Total: <span>$1160</span></h4>
  
          <div class="button">
              <a href="checkout.html">CHECK OUT</a>
          </div>
          
      </div>
  
  </div><!-- Mini Cart Wrap End --> 
  
  <!-- Cart Overlay -->
  <div class="cart-overlay"></div>
  
  <!-- Page Banner Section Start -->
  <div class="page-banner-section section">
      <div class="page-banner-wrap row row-0 d-flex align-items-center ">
  
          <!-- Page Banner -->
          <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
              <div class="page-banner">
                  <h1>Track your order</h1>
                  <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita</p>
                  <div class="breadcrumb">
                      <ul>
                          <li><a href="#">HOME</a></li>
                          <li><a href="#">Track your order</a></li>
                      </ul>
                  </div>
              </div>
          </div>
  
          <!-- Banner -->
          <div class="col-lg-4 col-md-6 col-12 order-lg-1">
              <div class="banner"><a href="#"><img src="assets/images/banner/banner-15.jpg" alt="Banner"></a></div>
          </div>
  
          <!-- Banner -->
          <div class="col-lg-4 col-md-6 col-12 order-lg-3">
              <div class="banner"><a href="#"><img src="assets/images/banner/banner-14.jpg" alt="Banner"></a></div>
          </div>
  
      </div>
  </div><!-- Page Banner Section End -->
  
  <!-- Track Order Section Start -->
  <div class="track-order-section section mt-90 mb-50">
      <div class="container">
          <div class="row align-items-center">
              
              <div class="track-order-title text-center col-12 mb-80">
                  <h2>Track your order...</h2>
                  <p>To track your order please enter your Order ID in the box below and press the “Track” button. This was give to you on your receipt and in the confirmation email you should have reveived</p>
              </div>
              
              <div class="col-lg-6 col-md-7 col-12 mb-40">
                  <div class="track-order-form">
                      <form action="#">
                          <label for="order_id">Order ID</label>
                          <input type="text" id="order_id" placeholder="Find it in your order confirmation email">
                          <label for="billing_email">Billing Email Address</label>
                          <input type="email" id="billing_email" placeholder="Email you used during checkout">
                          
                          <input type="submit" value="Track Order">
                      </form>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-5 col-12 ml-auto mb-40">
                  <div class="banner"><a href="#"><img src="assets/images/banner/banner-33.jpg" alt="Banner"></a></div>
              </div>
              
          </div>
      </div>
  </div><!-- Track Order Section End -->
  
  <!-- Brands Section Start -->
  <div class="brands-section section mb-90">
      <div class="container">
          <div class="row">
              
              <!-- Brand Slider Start -->
              <div class="brand-slider col">
                  <div class="brand-item col"><img src="assets/images/brands/brand-1.png" alt="Brands"></div>
                  <div class="brand-item col"><img src="assets/images/brands/brand-2.png" alt="Brands"></div>
                  <div class="brand-item col"><img src="assets/images/brands/brand-3.png" alt="Brands"></div>
                  <div class="brand-item col"><img src="assets/images/brands/brand-4.png" alt="Brands"></div>
                  <div class="brand-item col"><img src="assets/images/brands/brand-5.png" alt="Brands"></div>
              </div><!-- Brand Slider End -->
              
          </div>
      </div>
  </div><!-- Brands Section End -->
  
  <!-- Subscribe Section Start -->
  <div class="subscribe-section section bg-gray pt-55 pb-55">
      <div class="container">
          <div class="row align-items-center">
              
              <!-- Mailchimp Subscribe Content Start -->
              <div class="col-lg-6 col-12 mb-15 mt-15">
                  <div class="subscribe-content">
                      <h2>SUBSCRIBE <span>OUR NEWSLETTER</span></h2>
                      <h2><span>TO GET LATEST</span> PRODUCT UPDATE</h2>
                  </div>
              </div><!-- Mailchimp Subscribe Content End -->
              
              
              <!-- Mailchimp Subscribe Form Start -->
              <div class="col-lg-6 col-12 mb-15 mt-15">
                  
          <form id="mc-form" class="mc-form subscribe-form" >
            <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email here" />
            <button id="mc-submit">subscribe</button>
          </form>
          <!-- mailchimp-alerts Start -->
          <div class="mailchimp-alerts text-centre">
            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
          </div><!-- mailchimp-alerts end -->
                  
              </div><!-- Mailchimp Subscribe Form End -->
              
          </div>
      </div>
  </div><!-- Subscribe Section End -->
  
  <!-- Footer Section Start -->
  <div class="footer-section section bg-ivory">
     
      <!-- Footer Top Section Start -->
      <div class="footer-top-section section pt-90 pb-50">
          <div class="container">
              
              <div class="row">
                  
                  <!-- Footer Widget Start -->
                  <div class="col-lg-3 col-md-6 col-12 mb-40">
                      <div class="footer-widget">
                         
                          <h4 class="widget-title">CONTACT INFO</h4>
                          
                          <p class="contact-info">
                              <span>Address</span>
                              You address will be here <br>
                               Lorem Ipsum text                        </p>
                          
                          <p class="contact-info">
                              <span>Phone</span>
                              <a href="tel:01234567890">01234 567 890</a>
                              <a href="tel:01234567891">01234 567 891</a>
                          </p>
                          
                          <p class="contact-info">
                              <span>Web</span>
                              <a href="mailto:info@example.com">info@example.com</a>
                              <a href="#">www.example.com</a>
                          </p>
                          
                      </div>
                  </div><!-- Footer Widget End -->
                  
                  <!-- Footer Widget Start -->
                  <div class="col-lg-3 col-md-6 col-12 mb-40">
                      <div class="footer-widget">
                         
                          <h4 class="widget-title">CUSTOMER CARE</h4>
                          
                          <ul class="link-widget">
                              <li><a href="#">About us</a></li>
                              <li><a href="#">Features</a></li>
                              <li><a href="#">My Account</a></li>
                              <li><a href="#">Cart</a></li>
                              <li><a href="#">Checkout</a></li>
                              <li><a href="#">Wishlist</a></li>
                              <li><a href="#">blog</a></li>
                              <li><a href="#">Contact</a></li>
                          </ul>
                          
                      </div>
                  </div><!-- Footer Widget End -->
                  
                  <!-- Footer Widget Start -->
                  <div class="col-lg-3 col-md-6 col-12 mb-40">
                      <div class="footer-widget">
                         
                          <h4 class="widget-title">INFORMATION</h4>
                          
                          <ul class="link-widget">
                              <li><a href="#">Track your order</a></li>
                              <li><a href="#">Locate Store</a></li>
                              <li><a href="#">Online Support</a></li>
                              <li><a href="#">Terms & Conditions</a></li>
                              <li><a href="#">Payment</a></li>
                              <li><a href="#">Shipping & Returns</a></li>
                              <li><a href="#">Gift coupon</a></li>
                              <li><a href="#">Special coupon</a></li>
                          </ul>
                          
                      </div>
                  </div><!-- Footer Widget End -->
                  
                  <!-- Footer Widget Start -->
                  <div class="col-lg-3 col-md-6 col-12 mb-40">
                      <div class="footer-widget">
                         
                          <h4 class="widget-title">LATEST TWEET</h4>
                          
                          <div class="footer-tweet"></div>
                          
                      </div>
                  </div><!-- Footer Widget End -->
                  
              </div>
              
          </div>
      </div><!-- Footer Bottom Section Start -->
     
      <!-- Footer Bottom Section Start -->
      <div class="footer-bottom-section section">
          <div class="container">
              <div class="row">
                  
                  <!-- Footer Copyright -->
                  <div class="col-lg-6 col-12">
                      <div class="footer-copyright"><p>&copy; Copyright, All Rights Reserved by <a href="#">E&E</a></p></div>
                  </div>
                  
                  <!-- Footer Payment Support -->
                  <div class="col-lg-6 col-12">
                      <div class="footer-payments-image"><img src="assets/images/payment-support.png" alt="Payment Support Image"></div>
                  </div>
                  
              </div>
          </div>
      </div><!-- Footer Bottom Section Start -->
      
  </div><!-- Footer Section End -->
  
  
  <!-- JS
  ============================================ -->
  
  <!-- jQuery JS -->
  <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
  <!-- Popper JS -->
  <script src="assets/js/popper.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Plugins JS -->
  <script src="assets/js/plugins.js"></script>
  <!-- Ajax Mail -->
  <script src="assets/js/ajax-mail.js"></script>
  <!-- Main JS -->
  <script src="assets/js/main.js"></script>
  

