<p>
  checkout works!
</p>
<div class="header-section section">

  <!-- Header Top Start -->
  <div class="header-top header-top-one header-top-border pt-10 pb-10">
      <div class="container">
          <div class="row align-items-center justify-content-between">

              <div class="col mt-10 mb-10">
                  <!-- Header Links Start -->
                  <div class="header-links">
                      <a href="track-order.html"><img src="assets/images/icons/car.png" alt="Car Icon"> <span>Track your order</span></a>
                      <a href="store.html"><img src="assets/images/icons/marker.png" alt="Car Icon"> <span>Locate Store</span></a>
                  </div><!-- Header Links End -->
              </div>

              <div class="col order-12 order-xs-12 order-lg-2 mt-10 mb-10">
                  <!-- Header Advance Search Start -->
                  <div class="header-advance-search">
                      
                      <form action="#">
                          <div class="input"><input type="text" placeholder="Search your product"></div>
                          <div class="select">
                              <select class="nice-select">
                                  <option>All Categories</option>
                                  <option>Mobile</option>
                                  <option>Computer</option>
                                  <option>Laptop</option>
                                  <option>Camera</option>
                              </select>
                          </div>
                          <div class="submit"><button><i class="icofont icofont-search-alt-1"></i></button></div>
                      </form>
                      
                  </div><!-- Header Advance Search End -->
              </div>

              <div class="col order-2 order-xs-2 order-lg-12 mt-10 mb-10">
                  <!-- Header Account Links Start -->
                  <div class="header-account-links">
                      <a href="register.html"><i class="icofont icofont-user-alt-7"></i> <span>my account</span></a>
                      <a href="login.html"><i class="icofont icofont-login d-none"></i> <span>Login</span></a>
                  </div><!-- Header Account Links End -->
              </div>

          </div>
      </div>
  </div><!-- Header Top End -->

  <!-- Header Bottom Start -->
  <div class="header-bottom header-bottom-one header-sticky">
      <div class="container">
          <div class="row align-items-center justify-content-between">

              <div class="col mt-15 mb-15">
                  <!-- Logo Start -->
                  <div class="header-logo">
                      <a href="index.html">
                          <img src="assets/images/logo.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template">
                          <img class="theme-dark" src="assets/images/logo-light.png" alt="E&E - Electronics eCommerce Bootstrap4 HTML Template">
                      </a>
                  </div><!-- Logo End -->
              </div>

              <div class="col order-12 order-lg-2 order-xl-2 d-none d-lg-block">
                  <!-- Main Menu Start -->
                  <div class="main-menu">
                      <nav>
                          <ul>
                              <li class="menu-item-has-children"><a href="index.html">HOME</a>
                                  <ul class="mega-menu two-column">
                                      <li><a href="#" class="d-none">Home Light</a>
                                          <ul>
                                              <li><a href="index.html">Home One Light</a></li>
                                              <li><a href="index-2.html">Home Two Light</a></li>
                                              <li><a href="index-3.html">Home Three Light</a></li>
                                              <li><a href="index-4.html">Home Four Light</a></li>
                                              <li><a href="index-5.html">Home Five Light</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="#" class="d-none">Home Dark</a>
                                          <ul>
                                              <li><a href="index.html">Home One Dark</a></li>
                                              <li><a href="index-2.html">Home Two Dark</a></li>
                                              <li><a href="index-3.html">Home Three Dark</a></li>
                                              <li><a href="index-4.html">Home Four Dark</a></li>
                                              <li><a href="index-5.html">Home Five Dark</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="menu-item-has-children"><a href="shop-grid.html">Shop</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item-has-children"><a href="shop-grid.html">shop grid</a>
                                          <ul class="sub-menu">
                                              <li><a href="shop-grid.html">shop grid</a></li>
                                              <li><a href="shop-grid-left-sidebar.html">shop grid Left Sidebar</a></li>
                                              <li><a href="shop-grid-right-sidebar.html">shop grid Right Sidebar</a></li>
                                              <li><a href="shop-grid-extended.html">shop grid Extended</a></li>
                                          </ul>
                                      </li>
                                      <li class="menu-item-has-children"><a href="shop-list.html">shop List</a>
                                          <ul class="sub-menu">
                                              <li><a href="shop-list.html">shop List</a></li>
                                              <li><a href="shop-list-left-sidebar.html">shop List Left Sidebar</a></li>
                                              <li><a href="shop-list-right-sidebar.html">shop List Right Sidebar</a></li>
                                          </ul>
                                      </li>
                                      <li class="menu-item-has-children"><a href="category-1.html">shop Category</a>
                                          <ul class="sub-menu">
                                              <li><a href="category-1.html">Shop Category 1</a></li>
                                              <li><a href="category-2.html">Shop Category 2</a></li>
                                              <li><a href="category-3.html">Shop Category 3</a></li>
                                          </ul>
                                      </li>
                                      <li class="menu-item-has-children"><a href="single-product.html">Single Product</a>
                                          <ul class="sub-menu">
                                              <li><a href="single-product.html">Single Product 1</a></li>
                                              <li><a href="single-product-2.html">Single Product 2</a></li>
                                              <li><a href="single-product-3.html">Single Product 3</a></li>
                                              <li><a href="single-product-4.html">Single Product 4</a></li>
                                              <li><a href="single-product-5.html">Single Product 5</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="active menu-item-has-children"><a href="#">PAGES</a>
                                  <ul class="mega-menu three-column">
                                      <li><a href="#">Column One</a>
                                          <ul>
                                              <li><a href="about-us.html">About us</a></li>
                                              <li><a href="banner.html">Banner</a></li>
                                              <li><a href="best-deals.html">Best Deals</a></li>
                                              <li><a href="buttons.html">Buttons</a></li>
                                              <li><a href="cart.html">Cart</a></li>
                                              <li class="active"><a href="checkout.html">Checkout</a></li>
                                              <li><a href="clients.html">Clients</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="#">Column Two</a>
                                          <ul>
                                              <li><a href="compare.html">Compare</a></li>
                                              <li><a href="faq.html">Faq</a></li>
                                              <li><a href="feature.html">Feature</a></li>
                                              <li><a href="login.html">Login</a></li>
                                              <li><a href="register.html">Register</a></li>
                                              <li><a href="store.html">Store</a></li>
                                              <li><a href="tabs.html">Tabs</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="#">Column Three</a>
                                          <ul>
                                              <li><a href="team.html">Team</a></li>
                                              <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                              <li><a href="testimonial.html">Testimonial</a></li>
                                              <li><a href="track-order.html">Track Order</a></li>
                                              <li><a href="typography.html">Typography</a></li>
                                              <li><a href="wishlist.html">Wishlist</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                              <li class="menu-item-has-children"><a href="blog-3-column.html">BLOG</a>
                                  <ul class="sub-menu">
                                      <li><a href="blog-1-column-left-sidebar.html">Blog 1 Column Left Sidebar</a></li>
                                      <li><a href="blog-1-column-right-sidebar.html">Blog 1 Column Right Sidebar</a></li>
                                      <li><a href="blog-2-column-left-sidebar.html">Blog 2 Column Left Sidebar</a></li>
                                      <li><a href="blog-2-column-right-sidebar.html">Blog 2 Column Right Sidebar</a></li>
                                      <li><a href="blog-3-column.html">Blog 3 Column</a></li>
                                      <li><a href="single-blog-left-sidebar.html">Single Blog Left Sidebar</a></li>
                                      <li><a href="single-blog-right-sidebar.html">Single Blog Right Sidebar</a></li>
                                  </ul>
                              </li>
                              <li><a href="contact.html">CONTACT</a></li>
                          </ul>
                      </nav>
                  </div><!-- Main Menu End -->
              </div>

              <div class="col order-2 order-lg-12 order-xl-12">
                  <!-- Header Shop Links Start -->
                  <div class="header-shop-links">
                      
                      <!-- Compare -->
                      <a href="compare.html" class="header-compare"><i class="ti-control-shuffle"></i></a>
                      <!-- Wishlist -->
                      <a href="wishlist.html" class="header-wishlist"><i class="ti-heart"></i> <span class="number">3</span></a>
                      <!-- Cart -->
                      <a href="cart.html" class="header-cart"><i class="ti-shopping-cart"></i> <span class="number">3</span></a>
                      
                  </div><!-- Header Shop Links End -->
              </div>
              
              <!-- Mobile Menu -->
              <div class="mobile-menu order-12 d-block d-lg-none col"></div>

          </div>
      </div>
  </div><!-- Header Bottom End -->

</div><!-- Header Section End -->

<!-- Mini Cart Wrap Start -->                      
<div class="mini-cart-wrap">

  <!-- Mini Cart Top -->
  <div class="mini-cart-top">    
  
      <button class="close-cart">Close Cart<i class="icofont icofont-close"></i></button>
      
  </div>

  <!-- Mini Cart Products -->
  <ul class="mini-cart-products">
      <li>
          <a class="image"><img src="assets/images/product/product-1.png" alt="Product"></a>
          <div class="content">
              <a href="single-product.html" class="title">Waxon Note Book Pro 5</a>
              <span class="price">Price: $295</span>
              <span class="qty">Qty: 02</span>
          </div>
          <button class="remove"><i class="fa fa-trash-o"></i></button>
      </li>
      <li>
          <a class="image"><img src="assets/images/product/product-2.png" alt="Product"></a>
          <div class="content">
              <a href="single-product.html" class="title">Aquet Drone D 420</a>
              <span class="price">Price: $275</span>
              <span class="qty">Qty: 01</span>
          </div>
          <button class="remove"><i class="fa fa-trash-o"></i></button>
      </li>
      <li>
          <a class="image"><img src="assets/images/product/product-3.png" alt="Product"></a>
          <div class="content">
              <a href="single-product.html" class="title">Game Station X 22</a>
              <span class="price">Price: $295</span>
              <span class="qty">Qty: 01</span>
          </div>
          <button class="remove"><i class="fa fa-trash-o"></i></button>
      </li>
  </ul>

  <!-- Mini Cart Bottom -->
  <div class="mini-cart-bottom">    
  
      <h4 class="sub-total">Total: <span>$1160</span></h4>

      <div class="button">
          <a href="checkout.html">CHECK OUT</a>
      </div>
      
  </div>

</div><!-- Mini Cart Wrap End --> 

<!-- Cart Overlay -->
<div class="cart-overlay"></div>

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
  <div class="page-banner-wrap row row-0 d-flex align-items-center ">

      <!-- Page Banner -->
      <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
          <div class="page-banner">
              <h1>Checkout</h1>
              <p>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita</p>
              <div class="breadcrumb">
                  <ul>
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">Shop</a></li>
                      <li><a href="#">Checkout</a></li>
                  </ul>
              </div>
          </div>
      </div>

      <!-- Banner -->
      <div class="col-lg-4 col-md-6 col-12 order-lg-1">
          <div class="banner"><a href="#"><img src="assets/images/banner/banner-15.jpg" alt="Banner"></a></div>
      </div>

      <!-- Banner -->
      <div class="col-lg-4 col-md-6 col-12 order-lg-3">
          <div class="banner"><a href="#"><img src="assets/images/banner/banner-14.jpg" alt="Banner"></a></div>
      </div>

  </div>
</div><!-- Page Banner Section End -->

<!-- Checkout Page Start -->
<div class="page-section section mt-90 mb-30">
  <div class="container">
      <div class="row">
          <div class="col-12">
              
              <!-- Checkout Form s-->
              <form action="#" class="checkout-form">
                 <div class="row row-40">
                     
                     <div class="col-lg-7 mb-20">
                        
                         <!-- Billing Address -->
                         <div id="billing-form" class="mb-40">
                             <h4 class="checkout-title">Billing Address</h4>

                             <div class="row">

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>First Name*</label>
                                     <input type="text" placeholder="First Name">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Last Name*</label>
                                     <input type="text" placeholder="Last Name">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Email Address*</label>
                                     <input type="email" placeholder="Email Address">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Phone no*</label>
                                     <input type="text" placeholder="Phone number">
                                 </div>

                                 <div class="col-12 mb-20">
                                     <label>Company Name</label>
                                     <input type="text" placeholder="Company Name">
                                 </div>

                                 <div class="col-12 mb-20">
                                     <label>Address*</label>
                                     <input type="text" placeholder="Address line 1">
                                     <input type="text" placeholder="Address line 2">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Country*</label>
                                     <select class="nice-select">
                                          <option>Bangladesh</option>
                                          <option>China</option>
                                          <option>country</option>
                                          <option>India</option>
                                          <option>Japan</option>
                                     </select>
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Town/City*</label>
                                     <input type="text" placeholder="Town/City">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>State*</label>
                                     <input type="text" placeholder="State">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Zip Code*</label>
                                     <input type="text" placeholder="Zip Code">
                                 </div>

                                 <div class="col-12 mb-20">
                                     <div class="check-box">
                                         <input type="checkbox" id="create_account">
                                         <label for="create_account">Create an Acount?</label>
                                     </div>
                                     <div class="check-box">
                                         <input type="checkbox" id="shiping_address" data-shipping>
                                         <label for="shiping_address">Ship to Different Address</label>
                                     </div>
                                 </div>

                             </div>

                         </div>
                         
                         <!-- Shipping Address -->
                         <div id="shipping-form" class="mb-40">
                             <h4 class="checkout-title">Shipping Address</h4>

                             <div class="row">

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>First Name*</label>
                                     <input type="text" placeholder="First Name">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Last Name*</label>
                                     <input type="text" placeholder="Last Name">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Email Address*</label>
                                     <input type="email" placeholder="Email Address">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Phone no*</label>
                                     <input type="text" placeholder="Phone number">
                                 </div>

                                 <div class="col-12 mb-20">
                                     <label>Company Name</label>
                                     <input type="text" placeholder="Company Name">
                                 </div>

                                 <div class="col-12 mb-20">
                                     <label>Address*</label>
                                     <input type="text" placeholder="Address line 1">
                                     <input type="text" placeholder="Address line 2">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Country*</label>
                                     <select class="nice-select">
                                          <option>Bangladesh</option>
                                          <option>China</option>
                                          <option>country</option>
                                          <option>India</option>
                                          <option>Japan</option>
                                     </select>
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Town/City*</label>
                                     <input type="text" placeholder="Town/City">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>State*</label>
                                     <input type="text" placeholder="State">
                                 </div>

                                 <div class="col-md-6 col-12 mb-20">
                                     <label>Zip Code*</label>
                                     <input type="text" placeholder="Zip Code">
                                 </div>

                             </div>

                         </div>
                         
                     </div>
                     
                     <div class="col-lg-5">
                         <div class="row">
                             
                             <!-- Cart Total -->
                             <div class="col-12 mb-60">
                             
                                 <h4 class="checkout-title">Cart Total</h4>
                         
                                 <div class="checkout-cart-total">

                                     <h4>Product <span>Total</span></h4>
                                     
                                     <ul>
                                         <li>Samsome Notebook Pro 5 X 01 <span>$295.00</span></li>
                                         <li>Aquet Drone  D 420 X 02 <span>$550.00</span></li>
                                         <li>Play Station X 22 X 01 <span>$295.00</span></li>
                                         <li>Roxxe Headphone Z 75 X 01 <span>$110.00</span></li>
                                     </ul>
                                     
                                     <p>Sub Total <span>$1250.00</span></p>
                                     <p>Shipping Fee <span>$00.00</span></p>
                                     
                                     <h4>Grand Total <span>$1250.00</span></h4>
                                     
                                 </div>
                                 
                             </div>
                             
                             <!-- Payment Method -->
                             <div class="col-12 mb-60">
                             
                                 <h4 class="checkout-title">Payment Method</h4>
                         
                                 <div class="checkout-payment-method">
                                   
                                     <div class="single-method">
                                         <input type="radio" id="payment_check" name="payment-method" value="check">
                                         <label for="payment_check">Check Payment</label>
                                         <p data-method="check">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                     </div>
                                   
                                     <div class="single-method">
                                         <input type="radio" id="payment_bank" name="payment-method" value="bank">
                                         <label for="payment_bank">Direct Bank Transfer</label>
                                         <p data-method="bank">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                     </div>
                                   
                                     <div class="single-method">
                                         <input type="radio" id="payment_cash" name="payment-method" value="cash">
                                         <label for="payment_cash">Cash on Delivery</label>
                                         <p data-method="cash">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                     </div>
                                   
                                     <div class="single-method">
                                         <input type="radio" id="payment_paypal" name="payment-method" value="paypal">
                                         <label for="payment_paypal">Paypal</label>
                                         <p data-method="paypal">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                     </div>
                                   
                                     <div class="single-method">
                                         <input type="radio" id="payment_payoneer" name="payment-method" value="payoneer">
                                         <label for="payment_payoneer">Payoneer</label>
                                         <p data-method="payoneer">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                     </div>
                                   
                                     <div class="single-method">
                                         <input type="checkbox" id="accept_terms">
                                         <label for="accept_terms">I’ve read and accept the terms & conditions</label>
                                     </div>
                                     
                                 </div>
                                 
                                 <button class="place-order">Place order</button>
                                 
                             </div>
                             
                         </div>
                     </div>
                     
                 </div>
              </form>
              
          </div>
      </div>
  </div>
</div>
<!-- Checkout Page End --> 

<!-- Banner Section Start -->
<div class="banner-section section mb-90">
  <div class="container">
      <div class="row">
          
          <!-- Banner -->
          <div class="col-12">
              <div class="banner"><a href="#"><img src="assets/images/banner/banner-10.jpg" alt="Banner"></a></div>
          </div>
          
      </div>
  </div>
</div><!-- Banner Section End -->

<!-- Brands Section Start -->
<div class="brands-section section mb-90">
  <div class="container">
      <div class="row">
          
          <!-- Brand Slider Start -->
          <div class="brand-slider col">
              <div class="brand-item col"><img src="assets/images/brands/brand-1.png" alt="Brands"></div>
              <div class="brand-item col"><img src="assets/images/brands/brand-2.png" alt="Brands"></div>
              <div class="brand-item col"><img src="assets/images/brands/brand-3.png" alt="Brands"></div>
              <div class="brand-item col"><img src="assets/images/brands/brand-4.png" alt="Brands"></div>
              <div class="brand-item col"><img src="assets/images/brands/brand-5.png" alt="Brands"></div>
          </div><!-- Brand Slider End -->
          
      </div>
  </div>
</div><!-- Brands Section End -->

<!-- Subscribe Section Start -->
<div class="subscribe-section section bg-gray pt-55 pb-55">
  <div class="container">
      <div class="row align-items-center">
          
          <!-- Mailchimp Subscribe Content Start -->
          <div class="col-lg-6 col-12 mb-15 mt-15">
              <div class="subscribe-content">
                  <h2>SUBSCRIBE <span>OUR NEWSLETTER</span></h2>
                  <h2><span>TO GET LATEST</span> PRODUCT UPDATE</h2>
              </div>
          </div><!-- Mailchimp Subscribe Content End -->
          
          
          <!-- Mailchimp Subscribe Form Start -->
          <div class="col-lg-6 col-12 mb-15 mt-15">
              
      <form id="mc-form" class="mc-form subscribe-form" >
        <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email here" />
        <button id="mc-submit">subscribe</button>
      </form>
      <!-- mailchimp-alerts Start -->
      <div class="mailchimp-alerts text-centre">
        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
      </div><!-- mailchimp-alerts end -->
              
          </div><!-- Mailchimp Subscribe Form End -->
          
      </div>
  </div>
</div><!-- Subscribe Section End -->
